html {
  font: 100%/1.15 sans-serif;
  background:#696969;
}

h1 {
text-align: center;
text-decoration: ;
font-size: 8em;
background:#D3D3D3;
/* overflow-x: hidden; */
}

.banner {

}

#col {
column-count: 3;
text-align: left;
}


body {
	margin: 0;
  font-family: Verdana, serif;
  color: white;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}



/* navigation */



nav ul {
text-align: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
  }
  
/* 
nav li {
  padding-bottom: .5em;
  border-bottom: 1px dashed white;
  margin-top: .5em;
  }
  
nav li:first-child {
  padding-top: .5em;
  border-top: 1px dashed red;
  }
 */
  
nav a {

  color:white;
  text-decoration: none;
  border-bottom: 1px dotted white;
}

nav a:hover {
  border-bottom: white;
}

/* breakpoints/layout changes/ for wider screens */

@media (min-width: 48em) {

nav ul {
  /* text-align: center; */
  }

nav li {
  display: inline;
  margin-left: .5em;
}

nav li:first-child {
  margin-left: 0;
}
	
}